<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>
    <section>
    <div class="welcome_container">
        <h1 class="welcome"><%=title%></h1>
    </div>
    <div class="update_button_container"><button><a href="/movies/edit/<%=movie._id%>" >update</a></button></div>
</section>
<section class="second_section">
    <div class="displayed_details">
        <div class="subdetail_container"><label>Title:</label><span><%=movie.title%></span></div>
        <div class="subdetail_container"><label>Release Year:</label><span><%=movie.releaseYear%></span></div>
        <div class="subdetail_container"><label>Rating:</label><span><%=movie.mpaaRating%></span></div>
		  <div class="cast subdetail_container"><label>Cast</label> <%for(cast of movie.cast){%><span><%=cast.name%></span> <%}%></div>
        <div class="cast subdetail_container">
			  <form action="/movies/<%=movie._id%>/performers" method="POST">
         <select name="performerId">
                <% for (performer of performers) { %>
                <option value="<%=performer._id%>"><%=performer.name%></option>
                <%}%>
        </select>
        <button type="submit">Add to Cast</button>
    </form>
    </div>
   
       
        <div class="subdetail_container"><label>Now Showing:</label><span><%=movie.nowShowing ?"yes":"nope"%></span></div>
        
</div>
</section>
<div class="review_heading_container"><h2>Reviews</h2></div>

<div class="review_container">

    <form action="/movies/<%=movie._id%>/reviews" method="POST" class="review_form">
        <div>
        <div class="review_imputs"><label>Review:</label><textarea name="content"></textarea></div>
    <div class="review_imputs"> <label>Rating:</label>
        <select class="select" name="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
        <button type="submit" class="add_review_button">Add Review</button>
    </div>
       

    </form>
</div>
<% if(movie.reviews.length===0) { %>
    <h1 class="reviewH">There are not reviews!</h1>
    <% } else{ %>
        <h1 class="reviewH">There are reviews</h1>
        <%}%>
<div class="table_container">
    <table>
<thead>
    <tr>
        <div class="tHead">
            <th>DATE</th>
            <th>REVIEW</th>
            <th>RATING</th>
            <th></th>
        </div>
    </tr>
</thead>
<tbody>
    <% var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); 
    var yyyy = today.getFullYear();
    
    today = mm + '/' + dd + '/' + yyyy;%>
    <% for (review of movie.reviews) { %>
    <tr>
      <td  class="row"><%=today%></td>
      <td  class="row"><%=review.content%></td>
      <td  class="row"><%=review.rating%></td>
      <form action="/movies/<%=movie._id%>/reviews/<%=review._id%>?__method=delete" method="post">
      <td><button type="submit">❌</button></td>
    </form>
    </tr>
    <% } %>
</tbody>
  </table>
</div>
    
    
</div>
<%- include("../partials/footer") %>
