
<%- include("../partials/html-head") %>
<link rel="stylesheet" href="../../form.css">
<link rel="stylesheet" href="../../styles.css">
<%- include("../partials/nav") %>

<section>
<div class="welcome_container">
    <h1 class="welcome"><%= title %></h1>
</div>
<div class="form_container">
    <form action="/movies/<%=movie._id%>?_method=put" method="POST" class="add_movie">
        <div>
            <div class="form_line"><label for="title_input">Title</label><input type="text" id="title_input" name="title" value="<%=movie.title%>"></div>
        <div class="form_line"><label for="release_input">Release Year</label><input type="number" id="release_input" name="releaseYear" value="<%=movie.releaseYear%>"></div>
        <div class="form_line form_line2"><label for="rating_select">MPAA Rating</label><select class="rating" id="rating_select" name="mpaaRating"><option value="<%=movie.mpaaRating%>"><%=movie.mpaaRating%></option><option>G</option><option>PG</option><option>PG 13</option><option>R</option></select></div>
        <div class="form_line"><label for="showing_check">Now Showing</label><input type="checkbox" id="showing_check" name="nowShowing" <%=movie.nowShowing?"checked":""%> >
        </div>
        <div class="add_movie_button_container"><button class="add_movie_button" type="submit">Save Movie</button></div>
       
    </div>
    
    </form>
</div>
</section>


</div>
<%- include("../partials/footer") %>
